nav > ul {
  list-style-type: none;
  background-color: black;
  padding: 8px;
  margin:0px;
}

nav > ul > li {
  display: inline;
  margin: 5px;
  color: white;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.news-card {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 4px;
  text-align: center;
  margin: 4px;
}

.news-card-container {
  display: flex;
  flex-wrap: wrap;
}

.news-image {
  text-align: center;
  width: 500px;
}

.input-field {
  border: 2px solid black;
  padding: 12px 20px;
  margin: 20px;
  text-align:center;
}

.news-card-headline{
  text-align: center;
}